/* Styling applied to all elements on the page */
* {
  /* ! what is margin ? */
  margin: 0;
  /* ! what is padding? */
  padding: 0;
}

/* Header styling */
.header {
  /* ! what is this? */
  min-height: 100vh;

  /* ! what is this? */
  width: 100%;

  /* ! what is this? */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.png);

  /* ! what is this? */
  background-position: center;

  /* ! what is this? */
  background-size: cover;

  /* ! what is this? */
  position: relative;
}
